In [9]:
import pandas as pd
import pytest
from connect_to_database_func import connect_db


def fetch_data(query):
    conn = connect_db()
    cur = conn.cursor()
    cur.execute(query)
    data = cur.fetchall()
    cur.close()
    conn.close()
    return data

# def test_connect_and_get_data():
#     result = fetch_data("SELECT 1;")
#     assert result[0][0] == 1
#     row = fetch_data("SELECT * FROM comments LIMIT 1;")
#     print(row)

def fetch_comments():
    query = "SELECT * FROM comments LIMIT 100;"
    data = fetch_data(query)
    # df = pd.DataFrame(data, columns=["id", "description", "created_at"])  # Adjust columns to match your table
    df = pd.DataFrame(data, columns=["id","title","grade", "description","national_code_hash","mobile_no_hash","created_at","date","imported_at"])  # Adjust columns to match your table
    return df

# def test_fetch_comments():
#     df = fetch_comments()
#     assert not df.empty
#     assert "description" in df.columns
#     print(df.head())

In [10]:
df = fetch_comments()
df.head()

,id,title,grade,description,national_code_hash,mobile_no_hash,created_at,date,imported_at
0,1,پرداخت قبض,3,جایی نداره که من بنویسم این موبایل به نام چه ک...,456457bda78847bd12a602b170d9e906b4342b944aff53...,16c30771e53da3e5ea9035ed6442a3642ba4798e1efa07...,2025-08-31-12.01.31.425733,14040609,2025-10-05 15:42:47.573733
1,2,پرداخت قبض,3,به من نگفت که شماره تلفن را باید با کد شهر وار...,456457bda78847bd12a602b170d9e906b4342b944aff53...,16c30771e53da3e5ea9035ed6442a3642ba4798e1efa07...,2025-08-31-12.03.07.795507,14040609,2025-10-05 15:42:47.573733
2,3,پرداخت قبض,3,قبض تلفن ثابت رو پرداخت کردم. به من نگفت با پی...,456457bda78847bd12a602b170d9e906b4342b944aff53...,16c30771e53da3e5ea9035ed6442a3642ba4798e1efa07...,2025-08-31-12.04.12.910365,14040609,2025-10-05 15:42:47.573733
3,4,پرداخت قبض,4,پس از پرداخت قبض و در حین باز شدن منوی تجربه، ...,a1077d17163b18834c9011fec4829475e168678687c027...,af211efa5f5a03ec9b87ee285ac801ebdf687f33be6c8f...,2025-08-31-14.24.16.700089,14040609,2025-10-05 15:42:47.573733
4,5,سایر,1,منوی حالات نمایش بصورت دوحالت تاریک و روشن میب...,a1077d17163b18834c9011fec4829475e168678687c027...,af211efa5f5a03ec9b87ee285ac801ebdf687f33be6c8f...,2025-08-31-14.26.41.880463,14040609,2025-10-05 15:42:47.573733